
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <h1>merhaba index 2 sayfasına hoşgeldiniz</h1>
</body>
</html>
