
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index6</title>
</head>
<body>
    <div style="background-color:aliceblue">@ViewBag.deger1</div>
    <h1>@ViewBag.deger2</h1>
    <h2>@ViewBag.deger3</h2>
</body>
</html>
