
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index7</title>
</head>
<body>
    <p style="color:aquamarine">Burası layout</p>
    <br />
    @RenderBody()
</body>
</html>
