
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <div>burasi kontrollara ait layout alanıdır</div>
    <div style="background-color:#435663">merhaba çocuklar muhendisler</div>
</body>
</html>
