
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <div>burasi kontrollara ait layout alanıdır</div>
    <div style="background-color:#435663">merhaba çocuklar muhendisler</div>
    <div style="background-color:darkgreen;color:white">@DateTime.Now.ToShortDateString()
   </div>
    <div>@for (int i = 0; i < 5; i++)
        {
            @i;
            <br />
        }
    </div>
</body>
</html>
